<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="c1kuD-K2HIVF635lypcsWPoD4kilo5-jA_wBFyT4uMY" />
  <link rel="icon" type="image/x-icon" href="https://github.githubassets.com/favicon.ico" media="(prefers-color-scheme:no-preference)">
  <link rel="icon" type="image/png" href="https://github.githubassets.com/favicons/favicon.png" media="(prefers-color-scheme:light)">
  <link rel="icon" type="image/png" href="https://github.githubassets.com/favicons/favicon-dark.png" media="(prefers-color-scheme:dark)">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <link href='{{ "/assets/css/index.css" | relative_url }}' rel="stylesheet">
</head>
